h3
{
   text-align:center;
   font-weight:normal;
}
h2
{
    color: black;
    background-color: grey;
    width: 1200px;
}
 table, th, td
      {
          border: 1px solid black;
          border-collapse: collapse;
      }
      th, td
      {
          padding: 20px;
      }
      